Videos/Jogo_Aranha-05-09-26.mp4
Modelos/yolo26x.pt
Scripts/Desativados/
Videos/Saidas/
Dataset/
Scripts/Detection_Jupyter.py
Scripts/pasted_content_4_auto_times.py
Scripts/Detection_v2.py
Scripts/Treinar.ipynb
Scripts/tracking_auto_times_colab.ipynb

